/*====================================================================
			Loading part
======================================================================*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100);

.loading-page {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  position: fixed;
  z-index: 112;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading-page .counter1 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  position: fixed;
  z-index: 120;
  text-align: center;
}
.loading-page .counter1 p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-size: 40px;
  font-weight: 100;
  color: #f60d54;
}
.loading-page .counter1 h1 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: white;
  font-size: 60px;
  margin-top: -10px;
}
.loading-page .counter1 hr {
  box-sizing: border-box;
  
  background: #f60d54;
  border: none;
  height: 1px;
}
.loading-page .counter1 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  width: 200px;
}
.loading-page .counter1 h1.abs {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  position: absolute;
  top: 0;
  width: 100%;
}
.loading-page .counter1 .color {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 0px;
  overflow: hidden;
  color: #f60d54;
}

.loading-page .loader-section.section-left {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  left: 0;
}
 
.loading-page .loader-section.section-right {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  right: 0;
}

.loading-page .loader-section {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #0d0d0d;
    z-index: 112;
}

/* Loaded */
.loaded .loading-page .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}
 
.loaded .loading-page .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded .counter1 {
    opacity: 0;
}

.loaded .loading-page {
    visibility: hidden;
}

.loaded .counter1 {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out; 
            transition: all 0.3s ease-out;
}

.loaded .loading-page .loader-section.section-right,
.loaded .loading-page .loader-section.section-left {
 
    -webkit-transition: all 0.3s 0.3s ease-out; 
            transition: all 0.3s 0.3s ease-out;
}

.loaded .loading-page {
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);
 
        -webkit-transition: all 0.3s 0.6s ease-out; 
                transition: all 0.3s 0.6s ease-out;
}

