 /* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /*Hidden by default. Visible on click */
    max-width: 250px; /* Set a default minimum width */
    margin-left: 50px; /* Divide value of min-width by 2 */
    background-color: #C6C6C6; /* Black background color */
    color: black; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 100; /* Add a z-index if needed */
    left: 0; /* Center the snackbar */
    top: 100px; /* 30px from the bottom */
}

#close_snackbar{
    position: absolute;
    top: 0;
    font-size: 25px;
    right: -35px;
    width: 35px;
    height: 35px;
    background: black;
    color: white;
}

#close_snackbar:hover{
 cursor: pointer;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
   However, delay the fade out process for 2.5 seconds */
   -webkit-animation: fadein 0.5s;
   animation: fadein 0.5s;
}

#snackbar.hide {
    display: none; /* hide the snackbar */
}


/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 100px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 100px; opacity: 1;}
}

/*@-webkit-keyframes fadeout {
    from {top: 100px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 100px; opacity: 1;}
    to {top: 0; opacity: 0;}
} */