html *{
	font-family: Raleway !important;
}

#bod
{
	background: url("images/spagaridge.jpg");
	background-color: #B0C4DE;
}
#navigaton
{
	position: fixed;
}
#navigation ul
{
  background-color: gray;
  overflow: hidden;
  opacity: 0.85;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-bottom: 5px solid darkgray;
  overflow: hidden;
}


#navigation li
{
    float: right;
	display: inline-block;
	text-decoration: none;
	color: white;
}

#navigation li a
{
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
	text-decoration: none;
	color: white;
	display: inline-block;
}


#navigation li a:hover
{
	background-color: black;
}

#eventtag
{
	padding-left: 10px;
    font-family: courier;
    font-size: 2.6em;
    position: absolute;
    top: -15px;
    z-index: 1;
    text-shadow: 3px 3px 10px  white, 4px 5px 8px rgb(0,0,255);
    transition: top 0.5s;
}

#poster
{
	align-content: center;
	padding-left: 10%;
	padding-right: 10%;
	width: 80%;
	height: auto;
	padding-top: 60px;	
}

header
{
	font-family: verdana;
	padding-left: 5%;
	font-size: 3em;
	display: block;
	background:darkgray;
	background: -webkit-linear-gradient(left,gray,#B0C4DE);
	width: 80%;
	margin-top: 5%;
}
#obj 
{
	font-family: courier new;
	padding-top: .5%;
	padding-bottom: .5%;
	padding-left: 5%;
	padding-right: 5%;
	background: -webkit-linear-gradient(left,white,#B0C4DE);
    
}


section
{
   font-family: courier new;
	padding-top: .5%;
	padding-bottom: .5%;
	padding-left: 5%;
	padding-right: 5%;
	background: -webkit-linear-gradient(left,rgb(50,0,255),#B0C4DE);
	font-size: 20px;
	font-weight: bolder;
	color: yellow;
    
}
#introcont
{
   
   background: -webkit-linear-gradient(left,rgb(50,0,255),#B0C4DE); 
   color: black;
   font-family: arial;
   font-size: 110%;
   padding: 2%;
}

article
{
   background: -webkit-linear-gradient(left,white,#B0C4DE); 
   color: black;
   font-family: arial;
   font-size: 110%;
   padding: 2%;
}


nav ul
{
  width: 15%;
  text-decoration: none;
  list-style-type: none;
  border-right: solid 2px black; 
  padding:1%;
  float: left;
}

nav li a
{
	
	text-decoration: none;
	display: block;
	padding: 10%;
	border-left: solid 10px black;

}

nav li a:hover
{
	background-color: green;
}

#ev_struct
{
    display: inline-block; 
    width: 100%;
}

#article
{   
	margin-left: 2%;
	background:#B0C4DE;
}

#eventstruct
{
	padding-left: 20%;
	padding-top: 3%;
	padding-right: 2%;
}

@media screen and (max-width: 600px){

	#eventtag{
		transition: top 0.5s;
		top:12px !important;
	}

}